<template>
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" style="border-radius: 50%;" width="100px" height="100px" src="/images/my.jpg" alt="" />
                <h1 class="name">Maksim Paskal</h1>
                <h3 class="tagline">DEVOPS</h3>
            </div>
            <!--//profile-container-->

            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email">
                        <i class="fas fa-envelope"></i>
                        <a href="mailto: paskal.maksim@gmail.com">paskal.maksim@gmail.com</a>
                    </li>
                    <li class="phone">
                        <i class="fas fa-phone"></i>
                        <a href="tel:+380672486199">+380672486199</a>
                    </li>
                    <li class="skype">
                        <i class="fab fa-skype"></i>
                        <a href="skype:paskal.maksim?chat">paskal.maksim</a>
                    </li>
                    <li class="linkedin">
                        <i class="fab fa-linkedin"></i>
                        <a href="https://linkedin.com/in/mpaskal" target="_blank" rel="noopener">linkedin.com/in/mpaskal</a>
                    </li>
                    <li class="github">
                        <i class="fas fa-code"></i>
                        <a href="https://bitbucket.org/paskalmaksim" target="_blank" rel="noopener">bitbucket.org/paskalmaksim</a>
                    </li>
                </ul>
            </div>
            <!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree">B.Sc. in Mathematics and Physics</h4>
                    <div class="time">1999 - 2005</div>
                </div>
                <!--//item-->
                <div class="item">
                    <h4 class="degree">Self-study and work experience</h4>
                    <div class="time">2003 - Present</div>
                </div>
                <!--//item-->
            </div>
            <!--//education-container-->

            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li>Ukraine
                        <span class="lang-desc">(Native)</span>
                    </li>
                    <li>Russian
                        <span class="lang-desc">(Native)</span>
                    </li>
                    <li>English
                        <span class="lang-desc">(Professional)</span>
                    </li>
                </ul>
            </div>
            <!--//interests-->

        </div>
        <!--//sidebar-wrapper-->

        <div class="main-wrapper">

            <section class="section summary-section">
                <h2 class="section-title">
                    <i class="fas fa-user"></i>OBJECTIVE</h2>
                <div class="summary">
                    <p>Working on a challenging and rewarding position where I can continue learning and using all my knowledge.
                        In companies that can utilize a performance driven individual, providing cost-effective solutions
                        and implementing quality driven environments.</p>
                </div>
                <!--//summary-->
            </section>
            <!--//section-->

            <section class="section summary-section">
                <h2 class="section-title">
                    <i class="fas fa-check"></i>CORE ROLE</h2>
                <div class="summary">
                    <ul>
                        <li>Ability to rapidly learn new concepts and technologies</li>
                        <li>Leads in project planning processes</li>
                        <li>Coordinates communication and activities between technical teams</li>
                        <li>Creates and shares development estimates and operational requirements to enable accurate planning
                            with realistic timelines</li>
                        <li>Assesses client needs utilizing a structured requirements process (gathering, analyzing, documenting,
                            and managing changes)</li>
                        <li>Creates technical design specifications</li>
                        <li>Deploying, automating, maintaining and managing production system, to ensure the availability, performance,
                            scalability and security of productions systems</li>
                        <li>Build, release and configuration management of production systems</li>
                        <li>Testing to help assure the quality of our products / services</li>
                        <li>System troubleshooting and problem solving</li>
                        <li>Suggesting architecture improvements, recommending process improvements</li>
                        <li>Evaluate new technology options and vendor products</li>
                        <li>Ensuring critical system security through the use of best in class cloud security solutions</li>
                        <li>Plans and performs ongoing routine application maintenance tasks</li>

                    </ul>
                </div>
                <!--//summary-->
            </section>
            <!--//section-->

            <section class="section experiences-section">
                <h2 class="section-title">
                    <i class="fas fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">DevOps</h3>
                            <div class="time">2008 - Present</div>
                        </div>
                        <!--//upper-row-->
                        <div class="company">Financial Services, Ukraine</div>
                    </div>
                    <!--//meta-->
                    <div class="details">
                        <ul>
                            <li>Kubernetes microservices integration</li>
                            <li>Application containerization</li>
                            <li>Microservices continuous integration</li>
                            <li>Deploying, automating, maintaining and managing infrastructure</li>
                            <li>Coordinates communication and activities between technical teams</li>
                            <li>System troubleshooting and problem solving</li>
                            <li>Demonstration of production system for customers</li>
                            <li>Business Intelligence, Reporting</li>
                            <li>NodeJS,GO development</li>
                        </ul>
                    </div>
                    <!--//details-->
                </div>
                <!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">IT Operations</h3>
                            <div class="time">2003 - 2008</div>
                        </div>
                        <!--//upper-row-->
                        <div class="company">Telecomunications, Ukraine</div>
                    </div>
                    <!--//meta-->
                    <div class="details">
                        <ul>
                            <li>PHP Development</li>
                            <li>Business Intelligence, Reporting</li>
                        </ul>
                    </div>
                    <!--//details-->
                </div>
                <!--//item-->

            </section>
            <!--//section-->

            <section class="skills-section section">
                <h2 class="section-title">
                    <i class="fas fa-rocket"></i>Skills &amp; Proficiency
                </h2>
                <div class="skillsets">
                    <ul>
                        <li>Declarative automation: Ansible, Salt</li>
                        <li>CI/CD processes: GitLab, Drone, Jenkins, SonarSource, Nexus</li>
                        <li>Task management and tracking: Jira, Github, Bitbucket</li>
                        <li>Software development process: Agile, Scrum, Waterfall</li>
                        <li>OS: Redhat, CentOS, Debian, Windows Server</li>
                        <li>Development: JavaScript, Go, Vue.js, Nuxt, PHP, JAVA, HTML5</li>
                        <li>Programming: shell</li>
                        <li>Web servers and proxy: Apache, NGINX, Tomcat</li>
                        <li>Databases: MySQL, Oracle, PgSQL, SQL Server</li>
                    </ul>
                </div>
            </section>
            <!--//skills-section-->

        </div>
        <!--//main-body-->
    </div>
</template>